.header {
    background-color: #04AA6D;
    /* Example: light gray background */
    padding: 20px;
    /* Example: padding inside the header */
    text-align: center;
    /* Example: center the text inside the header */
    border-radius: 10px;
    margin-bottom: 16px;
}

.header_title {
    color: #fff;
    /* Example: white text color */
    text-align: left;
    
}

.header_text {
    color: #fff;
    /* Example: white text color */
    text-align: left;
}

.content {
    display: flex;
    
    gap: 16px;
    border-radius: 10px;
}

.styles-content {
    flex: 1 1 0% !important;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.sidebar {
    flex: none;
    background-color: #32a4e7;
    padding: 20px;
    border-radius: 10px;

    
}

.styles-menu {
    flex: none;
    background-color: #32a4e7;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;

}